<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="root">
        <div id="appcontainer">
            <div id="contactscontainer">
                <div id="profilebar">
                    <img :src="`./assets/img/avatar${profile.avatar}.jpg`" alt="profile picture">
                    <p>{{ profile.name }}</p>
                    <div id="profileicons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div id="notificationspopup">
                    <div id="popupicon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div id="popuptext" @click="hidepopup">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <span>Attiva notifiche desktop</span>
                    </div>
                </div>
                <div id="searchbar">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" id="searchinput" placeholder="Cerca o inizia una nuova chat" v-model="search"
                        @input="searchcon(search)">
                </div>
                <div id="contactsbar">
                    <template v-if="showncontacts.length == 0 && !search">
                        <div v-for="contact, i in contacts" class="contactcard"
                            :class="contact.visible == true && 'visible'" @click="changechat(i)">
                            <div>
                                <img :src="`./assets/img/avatar${contact.avatar}.jpg`" alt="profile picture">
                            </div>
                            <div class="contacttext">
                                <p>{{ contact.name }}</p>
                                <p>{{ contact.messages[contact.messages.length-1].message }}</p>
                            </div>
                            <div class="time">
                                <p>{{ changetime(contact.messages[contact.messages.length-1].date) }}</p>
                            </div>
                        </div>
                    </template>
                    <template v-else>
                        <div v-for="contact, i in showncontacts" class="contactcard"
                            :class="contact.visible == true && 'visible'" @click="changefilteredchat(i)">
                            <div>
                                <img :src="`./assets/img/avatar${contact.avatar}.jpg`" alt="profile picture">
                            </div>
                            <div class="contacttext">
                                <p>{{ contact.name }}</p>
                                <p>{{ contact.messages[contact.messages.length-1].message }}</p>
                            </div>
                            <div class="time">
                                <p>{{ changetime(contact.messages[contact.messages.length-1].date) }}</p>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div id="chatcontainer">
                <div id="chatcontactbar">
                    <img :src="`./assets/img/avatar${contacts[openedchat].avatar}.jpg`" alt="profile picture">
                    <div id="contactnamestatus">
                        <p>{{ contacts[openedchat].name }}</p>
                        <span>Ultimo accesso oggi alle 12:00</span>
                    </div>
                    <div id="chatcontacticons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div id="chat">
                    <div v-for="msg, i in contacts[openedchat].messages" class="msgcontainer">
                        <div class="msg" :class="msg.status == 'sent' ? 'sent' : 'received'">
                            <p>{{ msg.message }}</p>
                            <p class="msgdate">{{ datemodified(i) }}</p>
                            <i class="fa-solid fa-circle-xmark del" @click="deletemsg(i)" v-show="contacts[openedchat].messages.length > 1"></i>
                        </div>
                    </div>
                </div>
                <div id="inputbar">
                    <div>
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <input type="text" id="chatinput" placeholder="Scrivi un messaggio"
                        @keyup.enter="newmessage(newmsg)" v-model.trim="newmsg" autofocus>
                    <div>
                        <i class="fa-solid fa-paper-plane" v-show="newmsg" @click="newmessage(newmsg)"></i>
                        <i class="fa-solid fa-microphone" v-show="!newmsg"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="./assets/scripts/script.js" rel="text/javascript"></script>
</body>

</html>